.locandina {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.locandina:hover {
  transform: scale(1.12) translateY(-8px);
  z-index: 10; /* evita che la card venga tagliata */
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.8);
}
